<div class="mx-12 mb-10">
    <h1 class="my-24 text-center text-2xl font-bold">Latest Creations</h1>
    <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
        <div class="relative group">
            <a href="https://github.com/ShaneRookey/dgtc" target="_blank">
                <img
                    src="/dgtclogo.png"
                    class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
                />
                <p class="font-semibold group-hover:-translate-x-3 text-center">
                    Passion project aimed to bring modern team management tools
                    to the Disc Golf World.
                </p>
            </a>
            <div
                class="absolute left-0 top-0 group-hover:translate-x-3 bg-transparent w-full h-full shadow-lg"
            >
            </div>
        </div>
        <div class="relative group">
            <a href="https://devjourney-neon.vercel.app/" target="_blank">
                <img
                    src="/cubeworld.png"
                    class="relative z-10 w-full item rounded-lg transition-all group-hover:-translate-x-3"
                />
                <p class="font-semibold group-hover:-translate-x-3 text-center">
                    Experimental project created to combine 3D models into a
                    webpage.
                </p>
            </a>
            <div
                class="absolute left-0 top-0 group-hover:translate-x-3 bg-transparent w-full h-full shadow-lg"
            >
            </div>
        </div>
        <div class="relative group">
            <a href="https://tailwind-next-resume.vercel.app/" target="_blank">
                <img
                    src="/shanerookeylogo.png"
                    class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
                />
                <p class="font-semibold group-hover:-translate-x-3 text-center">
                    Next.js & Tailwind Resume
                </p>
            </a>
            <div
                class="absolute left-0 top-0 group-hover:translate-x-3 bg-transparent w-full h-full shadow-lg"
            >
            </div>
        </div>
        <div class="relative group">
            <a
                href="https://www.youtube.com/shorts/WBnqKxVd5E8"
                target="_blank"
            >
                <img
                    src="/0016.png"
                    class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3 h-3/4 object-cover"
                />
                <p class="font-semibold group-hover:-translate-x-3 text-center">
                    Learning and creating
                </p>
            </a>

            <div
                class="absolute left-0 top-0 group-hover:translate-x-3 bg-transparent shadow-lg w-full h-full"
            >
            </div>
        </div>
    </div>
</div>
